.row {
    display: flex;
    justify-content: center;
}

.m-3 h1 {
    padding-bottom: 30px;
}

.service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prix p {
    padding-top: 10px;
}

.prix p span {
    font-weight: bold;
}

span {
    cursor: pointer;
}

.minus,
.plus {
    width: 50px;
    height: 50px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

input {
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}